In [1]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [3]:
train = pd.read_csv('data/train.csv')

In [8]:
train.groupby(['Sex', 'Survived']).count()

                 PassengerId  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex    Survived
female 0                  81      81    81   64     81     81      81    81
       1                 233     233   233  197    233    233     233   233
male   0                 468     468   468  360    468    468     468   468
       1                 109     109   109   93    109    109     109   109

                 Cabin  Embarked
Sex    Survived
female 0             6        81
       1            91       231
male   0            62       468
       1            45       109